* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.closet {
  width: 80%;
  margin: 20px auto;
  border: 3px double crimson;
  padding: 40px;
  background: #878729;
  border-radius: 15px;
  box-shadow: 8px 8px 9px rgba(91, 96, 29, 0.6)
}

.closet__shoes {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
 
  background-image:   linear-gradient(to right, rgba(20, 181, 22, 0.7), rgba(0,0,0,0)), url(imagenes/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
  background: linear-gradient();
  background-position: center;
  background-size: cover;
  box-shadow: -3px 5px 12px rgba(233, 199, 4, 0.9);
  border-radius: 10px;

}

.closet__shoes--item {
  color: blue;
 
}

.house {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border: 1px dashed red;
  overflow: hidden;
}

.cocina {
  width: 70%;
  
  background: beige;
  text-align: center;
  margin: 10px auto;
  padding: 30px;
  border: 2px rgb(26, 26, 141);
  border-radius: 10px;
  box-shadow: 12px 14px 12px rgba(204, 120, 120, 0.5);
}

.cocina__title {
  line-height: 1.5;
  color: rgb(79, 9, 231);
  margin: 10px;
  
}

.cocina__parrafo {
  width: 70%;
  margin: 10px auto;
  padding: 5px;
  border: 2px dashed red;
  border-radius: 10px;
  box-shadow: 4px 4px 2px rgba(204, 120, 120, 0.5);
}
.cocina__parrafo--modificador {
  width: 90%;
  margin: 20px;
  padding: 20px;
  background: rgb(60, 26, 153);
  border: 1px dotted red;
  box-shadow: 4px 4px 2px rgba(204, 120, 120, 0.5);
  color: wheat;
  border-radius: 10px;
}

.habitacion {

  width: 80%;
  background: pink;
  margin: 30px auto;
  padding: 20px;
  border: ridge;
  border-radius: 10px;
  background-image: url(imagenes/guillaume-dhalluin-yOG6YRH7W1E-unsplash.jpg);
  box-shadow: 4px 4px 2px rgba(204, 120, 120, 0.5);
  background-size: cover;
}

.habitacion__lampara {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  
  margin: 10px;
  padding: 20px;

}

.habitacion__almohada {
  color: yellow;
  font-weight:200;
  font-style: italic;
}

.habitacion__almohada--sueño {
  font-size: 45px;
  background: rgb(78, 46, 194);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 12px 12px 12px rgba(160, 33, 33, 0.8);
}

.sala {
  width: 80%;
  
  padding: 10px;
  margin: 10px auto;
  background: linear-gradient(to right, red, blue);
  overflow: hidden;
  box-shadow: 12px 12px 12px rgba(170, 29, 29, 0.8);
  
}

.sala__televisor {
  padding: 20px;
  color: white;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  box-shadow: 12px 12px 12px rgba(170, 29, 29, 0.8);
}
.fondo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.sala__sofa--cojin {
  display: block;
  width: 500px;
  height: 500px;
  margin: 20px auto;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 12px 12px 12px rgba(170, 29, 29, 0.8);
}

